.elektron-digitakt-node {
  background: #222;
  border-radius: 18px;
  border: 2.5px solid #444;
  box-shadow: 0 4px 24px #0008;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto Mono', monospace;  
  width: 100%;
  justify-content: center;
  align-items: center;
}

.ed-first-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ed-first-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.ed-main-level {
  flex: 1;
}

.ed-monitor {
  flex: 1;
}

.ed-knobs {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  max-width: 400px;
  padding: 10px;
}

.ed-4x2-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ed-second-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-inline: 20px;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.ed-sequencer-column {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  padding: 10px;

}

.ed-2x-column {
  display: flex;
  flex-direction: row;
}

.ed-4x-small-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.ed-3x-wide-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.ed-first-group{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  outline: 1px solid red;
  width: 100%;
  margin-top: 10px;
}


.ed-second-group {
  display: flex;
  outline: 1px solid green;
  flex-direction: column;
}

.functions-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.second-function-row {
  display: flex;
}


.outline-rows {
  display: flex;
  flex-direction: column;
  gap: 10px;
  outline: 1px solid blue;
  justify-content: center;
  align-items: center;
}

.arrow-column {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-button.left {
 position: absolute;
 left: 50px;
 bottom: -1px;
}

.arrow-button.right {
  position: absolute;
  right: 50px;
  bottom: -1px;
}

.arrow-button.up {
  top: -1px;
  position: absolute;
}

.arrow-button.down {
  position: absolute;
  bottom: -1px;
}